.container{
  padding: 3rem 8rem 0rem 8rem;
  text-align: center;
}
.logo_text{
  font-size: 18px;
  line-height: 21.6px;
  padding-left: 10px;
  font-weight: bold;
  font-family: Lato;
  text-align: center;
  display: inline-block;
}
.btn--log{
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 100;
  font-size: 15px;
  line-height: 16.8px;
}
.btn--sign{
  text-decoration: none;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  color: #ED4C5C;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 600;
  font-style: normal;
  padding: 15px 30px;
  margin-top: 50px;
}
.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.main--h1{
  text-transform: uppercase;
  font-size: 72px;
  line-height: 86.4px;
  letter-spacing: 5%;
  margin-top: 120px;
}

.content{
  font-size: 23px;
  line-height: 37px;
  padding: 0 250px;
  text-align: center;
}
.p-1s-1{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
.play{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ED4C5C;
}
.left--side{
  width: 50%;  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right--side{
  background: url(../images/s1-right.jpg) center no-repeat; 
  background-size: cover;
  margin: 0px 100px;
  border-radius: 10px;
  width: 50%;  
  height: 100%;
}
.left--side-heading{
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 43.2px;
  font-weight: 600;
}
.left--side-content{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 19.6px;
}
.link{
  color: #ED4C5C;
}
.p-1s-2{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  background-color: #FAFAFA;
}
.box{
  position: relative;
  height: 250px;
  width: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.box:nth-of-type(1){
  background-image: url('../images/box-1.jpg'); 
}
.box:nth-of-type(2){
  background-image: url('../images/box-2.jpg'); 
}
.box:nth-of-type(3){
  background-image: url('../images/box-3.jpg'); 
}

.box-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 240px;
}
.box-content{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 293px;
  border-radius: 8px;
  height: 198px;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  padding: 30px 25px 20px;
}
.box-content--heading{
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 21.6px;
}
.box-content--text{
font-size: 12px;
  text-align: center;
  line-height: 18px;}
.btn-box{
  color: #ED4C5C;
  text-align: center;
}